h1 {
    color: aliceblue;
    text-align: left;
    font-size: 65px;
    font-family: 'Italiana', serif;
    margin-top: 7rem;

}


ul {
    margin-top: 1rem;

}



.name-gradient {
    background: rgb(255, 0, 235);
    background: linear-gradient(90deg, rgba(255, 0, 235, 1) 0%, rgba(0, 212, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}