
body{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      padding-left: 7rem;
      padding-right: 7rem;
  }

